/* author: https://codepen.io/GreenSock/pen/YzbPYMx
GSAP
 */
 pointer-particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none; /* Importante para permitir clics a través del componente */
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .wrapper,
  .content {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  
  .content {
    overflow-x: hidden;
    position: relative;
  }
  
  .content .section {
    width: 100%;
    height: 100vh;
  }
  
  .content .section.hero {
    background-image: url(http://localhost/wakami/Assets/tienda/images/wakami1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start; /* Alinea el texto al inicio verticalmente */
    justify-content: left;
    background-size: cover;
    position: relative;
  }

  .ltext-201 {
    font-size: 1em; /* Tamaño de fuente inicial */
    font-weight: 800; /* Grosor de fuente inicial */
    font-size: 2em;
    color: #e83e8c;
    font-family: 'harrington', sans-serif; /* Cambia la fuente a Roboto o tu fuente elegante */
    font-weight: 700; /* Hace la fuente más gruesa */
    opacity: 0; /* Inicia invisible */
    transform: scale(0.25); /* Inicia más pequeño */
    animation: showText 7s forwards; /* Usa la animación definida abajo */
    justify-content: center center; 
    padding-top: 15%;
     margin-left: 35%;
}

@keyframes showText {
    from {
        opacity: 0;
        transform: scale(0.25);
    }
    to {
        opacity: 100%;
        transform: scale(1.4);
    }
}
  
  .image-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    perspective: 500px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

/*Diseño de productos*/

.h1 {
  color: rgb(193, 8, 152);
  font-family: 'harrington', sans-serif;
  font-weight: 700;
  text-align: center;
}

.isotope-item1 {
  width: 195px;
  height: 285px;
  background: #313131;
  border-radius: 20px;
  ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease-in-out;
}

<<<<<<< HEAD
.service-icon {
  height: 30%;
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.service-content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.2s ease-in-out;
  z-index: 2;
=======
/*Diseño de productos relacionados*/
.slick-slide {
  cursor: pointer;
}

.slick-slide:hover{
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  	transform: scale(1.05);
>>>>>>> ab9fec18888267387af36f7ec097e2e1150c7dd8
}

/*Diseño de imagenes servicios*/
.isotope-item1:hover {
  background-color: #e22dcd;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

<<<<<<< HEAD
=======
/*Diseño de los botones de mi perfil*/
.list-group-item.active {
	z-index: 2;
	color: #fff;
	background-color: #e8175c;
	border-color: #e8175c;
  }
  
  /*Diseño del boton editar de mi perfil*/
  .btn-info {
	color: #fff;
	background-color: #e8175c;
	border-color: #e8175c;
  }
  
  /*Diseño del boton guardar de mi perfil*/
  .btn-primary {
    color: #fff;
    background-color: #e8175c;
    border-color: #e8175c;
  }

  .btn-primary:hover {
    background-color: #e8175c;
    border-color: #e8175c; /* Color del borde al pasar el cursor por encima */
    color: #fff; /* Color del texto al pasar el cursor por encima */
  }

  .btn-primary:active {
    background-color: #c6134b;
    border-color: #c6134b; /* Color del borde al hacer clic en el botón */
    color: #fff; /* Color del texto al hacer clic en el botón */
  }
>>>>>>> ab9fec18888267387af36f7ec097e2e1150c7dd8
