/* author: https://codepen.io/GreenSock/pen/YzbPYMx
GSAP
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .wrapper,
  .content {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  
  .content {
    overflow-x: hidden;
    position: relative;
  }
  
  .content .section {
    width: 100%;
    height: 100vh;
  }
  
  .content .section.hero {
    background-image: url(http://localhost/wakami/Assets/tienda/images/wakami1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start; /* Alinea el texto al inicio verticalmente */
    justify-content: left;
    background-size: cover;
    position: relative;
  }

  .ltext-201 {
    font-size: 1em; /* Tamaño de fuente inicial */
    font-weight: 800; /* Grosor de fuente inicial */
    font-size: 2em;
    color: #e83e8c;
    font-family: 'harrington', sans-serif; /* Cambia la fuente a Roboto o tu fuente elegante */
    font-weight: 700; /* Hace la fuente más gruesa */
    opacity: 0; /* Inicia invisible */
    transform: scale(0.25); /* Inicia más pequeño */
    animation: showText 7s forwards; /* Usa la animación definida abajo */
}

@keyframes showText {
    from {
        opacity: 0;
        transform: scale(0.25);
    }
    to {
        opacity: 100%;
        transform: scale(1.4);
    }
}
  
  .image-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    perspective: 500px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

/*Diseño de productos*/
.isotope-item {
  cursor: pointer;
}

.isotope-item:hover {
  border: 2px solid #6666;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

/*Diseño de categorias de productos*/
.isotope-item {
    cursor: pointer;
  }

.isotope-item:hover {
    border: 1px solid #6666;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }

/*Diseño de imagenes servicios*/
.isotope-item1:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
